# Large data files
*.csv
*.tsv
*.parquet
*.feather
*.pkl
*.joblib

# Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store

# Paper drafts and outputs
paper/
#notebooks_cvd/
data_cvd/
schematic_env/
